body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: #1F2937;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    margin: 8px;
}

.links {
    font-size: 18px;
    color: #E5E7EB ;
    padding: 8px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
}
/* main 1 */
.main-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px;
}
.left {
    margin: 16px;
    padding: 8px;

    
}

.head {
    font-size: 52px;
    font-weight:bolder;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    text-align: left;
    color: #E5E7EB;
}

.right {
   display: flex;
   justify-content: right;
   align-items: center;
   padding: 24px;
}
img {
    width: 90%;
    height: 90%;
    margin: 8px;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border: #3882f6;
    padding: 10px 24px 10px 24px;
    border-radius: 3px;
}



/*  main 2 */
.main-2 {
    height: 100%;
    padding: 16px;
}
.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 22px;
}

.disc-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    height:100%;
	width:15%;
}

.box {
    height: 200px;
    width: 225px;
	border: 3px solid #3882f6;
	border-radius:0.5rem;
	margin-bottom:0.5rem; 
}

p {
    font-size: 18px;
    text-align: center;
    color: #17273a;
}

/* main -3 */
.main-3 {
    height: 150px;
    width: auto;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;

}

.big-box {
    width: 800px;
    display: flex;
    flex-direction: column;


}

.quote {
    font-size: 18px;
    text-align: left;

}

.quote-author {
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}

/* main -4 blue box */

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-container {
    background-color: #3882f6;
    width: 600px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 16px;
    border-radius: 5px;
    margin: 36px;

}

.blue-text {
    color: #F9FAF8;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 14px;

}

.blue-button {
    border: solid 2px #F9FAF8;
    border-radius: 8px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
}

/* main 5 footer */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 12px;
    font-size: 12px;
}
